html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
